A:link {
	FONT-WEIGHT: bold; COLOR: #39597d; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: bold; COLOR: #39597d; TEXT-DECORATION: none
}
A:active {
	FONT-WEIGHT: bold; COLOR: #39597d; TEXT-DECORATION: underline
}
A:hover {
	FONT-WEIGHT: bold; COLOR: #39597d; TEXT-DECORATION: underline
}
.NArial {
	FONT-SIZE: 10pt; FONT-FAMILY: arial
}
.NArialL {
	FONT-SIZE: 12pt; FONT-FAMILY: arial
}
.NArialS {
	FONT-SIZE: 8pt; FONT-FAMILY: arial
}
.NArialW {
	FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: arial
}
A.NArialW:link {
	COLOR: #ffffff
}
A.NArialW:visited {
	COLOR: #ffffff
}
A.NArialW:active {
	COLOR: #ffffff
}
A.NArialW:hover {
	COLOR: #ffffff
}
.NArialSW {
	FONT-SIZE: 8pt; COLOR: #ffffff; FONT-FAMILY: arial
}
A.NArialSW:link {
	COLOR: #ffffff
}
A.NArialSW:visited {
	COLOR: #ffffff
}
A.NArialSW:active {
	COLOR: #ffffff
}
A.NArialSW:hover {
	COLOR: #ffffff
}
.NArialLW {
	FONT-SIZE: 12pt; COLOR: #ffffff; FONT-FAMILY: arial
}
.Navlink {
	FONT-SIZE: 8pt; CURSOR: default; COLOR: #ffffff; FONT-FAMILY: arial; TEXT-DECORATION: none
}
A.Navlink:link {
	COLOR: #ffffff
}
A.Navlink:visited {
	COLOR: #ffffff
}
A.Navlink:active {
	TEXT-DECORATION: none
}
A.Navlink:hover {
	TEXT-DECORATION: none
}
.NArialSP {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #c6cfd9; FONT-FAMILY: arial
}
A.NArialSP:link {
	COLOR: #c6cfd9
}
A.NArialSP:visited {
	COLOR: #c6cfd9
}
A.NArialSP:active {
	COLOR: #ffffff; TEXT-DECORATION: none
}
A.NArialSP:hover {
	COLOR: #ffffff; TEXT-DECORATION: none
}
.NArialSG {
	FONT-SIZE: 8pt; COLOR: #808080; FONT-FAMILY: arial
}
A.NArialSG:link {
	COLOR: #808080
}
A.NArialSG:visited {
	COLOR: #808080
}
A.NArialSG:active {
	COLOR: #5b5b5b
}
A.NArialSG:hover {
	COLOR: #5b5b5b
}
.iconfont {
	FONT-SIZE: 12pt; FONT-FAMILY: webdings
}
